Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

feat: add package-marketplace script and model reasoning/pdf capability support ✨
  .devcontainer/devcontainer.json
  .github/instructions/plan-generation.instructions.md
  .github/prompts/update-changelog-from-done-plans.prompt.md
  .github/prompts/update-readmes-from-repo-state.prompt.md
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  scripts/build.mjs
  scripts/package-marketplace.mjs
  scripts/post-session-validation.sh
  scripts/test/build-version.test.mjs
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: utils

updated package file
  package.json
Due: none

feat: add multi-backend & V2 chat support, telemetry, model capability overrides ✨
  README.marketplace.md
  README.md
  src/test/integration/errorHandling.test.ts
Due: none

docs: update CHANGELOG for 1.6.0 release 🎉
  CHANGELOG.md
Due: none

feat: add provider/model formatting and robust model display parsing ✨
  .github/instructions/plan-generation.instructions.md
  .github/prompts/project-planner.prompt.md
  package.json
  scripts/post-session-validation.sh
  src/commands/modelPicker.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/test/integration/errorHandling.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, commands, utils

refactor: standardize model display labels and metadata ✨
  package.json
  scripts/post-session-validation.sh
  src/commands/inlineCompletions.ts
  src/commands/modelPicker.ts
  src/commands/test/modelPicker.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, commands, utils

chore: release 1.6.1 — update changelog, bump version, deps & dependabot 🚀
  .github/dependabot.yml
  CHANGELOG.md
  package.json
Due: none

Dev (#73)
  .github/dependabot.yml
  .github/instructions/plan-generation.instructions.md
  .github/prompts/project-planner.prompt.md
  CHANGELOG.md
  package.json
  scripts/post-session-validation.sh
  src/commands/inlineCompletions.ts
  src/commands/modelPicker.ts
  src/commands/test/modelPicker.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/test/integration/errorHandling.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, commands, utils

feat: 🔁 improve streaming parsing and retry handling
  .github/hooks/post-session-validation.json
  .gitignore
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/commands/modelPicker.ts
  src/commands/test/modelPicker.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
Due: adapters, providers, commands, streaming

fix: 🐛 drop cache_control metadata from transport and token counting
  package.json
  src/adapters/tokenUtils.ts
  src/providers/test/chatProviderV2.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, utils

fix: 🐛 improve streaming error logging and telemetry
  package.json
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/test/chatProviderV2.test.ts
Due: adapters, providers, streaming

feat: ✨ overhaul V2 responses conversion and validation
  package.json
  src/adapters/v2OpenAIMessageConverter.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, utils

feat: 🎉 release 1.6.2
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: none

Response Pipeline Overhaul & Caching bug fix (#77)
  .github/hooks/post-session-validation.json
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/commands/modelPicker.ts
  src/commands/test/modelPicker.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProviderV2.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, commands, utils, streaming

fix: 🛡️ drop cache-control carrier parts across streaming and conversion
  .vscode-test.mjs
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, utils, streaming

Rel 1.6.3 prep
  CHANGELOG.md
  package.json
Due: none

Fixing Caching Bug... Again (#78)
  .vscode-test.mjs
  CHANGELOG.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, utils, streaming

feat: 📊 preserve detailed usage metrics in response streams
  package.json
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/usageData.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/chatProviderV2.test.ts
  src/types.ts
Due: adapters, providers, streaming

feat: 🚀 add responses API v2 flow with stricter tool-call safety
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/test/responsesClient.test.ts
  src/commands/inlineCompletions.ts
  src/commands/manageConfig.ts
  src/config/configManager.ts
  src/extension.ts
  src/providers/index.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/v2Types.ts
  src/test/integration/extension.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, commands, config, utils, streaming

feat: ✨ preserve tool-call pairs during cache-aware trimming
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/commands/manageConfig.ts
  src/providers/liteLLMProviderBase.ts
Due: adapters, providers, commands

fix: 🐛 wrap LiteLLM fetch failures in transport errors
  package.json
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
Due: adapters

feat: add LiteLLM model card capability discovery
  .gitignore
  .investigate/.gitkeep
  .plans/completed/.gitkeep
  .plans/pending/.gitkeep
  src/adapters/index.ts
  src/adapters/modelCardClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/modelCardClient.test.ts
  src/config/modelCardDefaults.json
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/types.ts
  src/types/modelCard.ts
  tsconfig.json
Due: adapters, providers, config

feat: add reasoning_effort passthrough and defaults for reasoning models 🤖
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/reasoningDefaults.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/reasoningDefaults.test.ts
  src/types.ts
Due: adapters, providers

feat: fix streaming tool-call parsing and cold-cache reasoning_effort injection 🚀
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: adapters, providers, streaming

feat: add v2 provider session discovery and reasoning config support
  .github/hooks/post-session-validation.json
  .investigate/gpt-5.1-codex-max_litellm_modelCard.json
  .investigate/gpt-5.1-codex-max_request.json
  .investigate/gpt-5.1-codex-max_response.json
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
  src/config/configManager.ts
  src/extension.ts
  src/providers/backendSession.ts
  src/providers/index.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/configManager.test.ts
Due: adapters, providers, config

chore: tighten TypeScript and ESLint checks 🧹
  eslint.config.mjs
  package.json
  tsconfig.json
Due: none

refactor: simplify array typings across TypeScript codebase
  src/adapters/multiBackendClient.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/commands/modelPicker.ts
  src/config/configManager.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/v2Types.ts
  src/types.ts
  src/utils.ts
  src/utils/test/utils.test.ts
  tsconfig.json
Due: adapters, providers, commands, config, utils

refactor: tighten runtime guards and remove unsafe casts 🛡️
  src/adapters/litellmClient.ts
  src/adapters/responsesClient.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/tokenUtils.ts
  src/config/configManager.ts
  src/extension.ts
  src/observability/posthogHook.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/telemetry/telemetryService.ts
  src/utils.ts
Due: adapters, providers, config, streaming

feat: 🚀 add regex-based reasoning model overrides + effort fallback retries
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.json
  src/config/modelOverrides.ts
  src/config/test/config.test.ts
  src/config/test/modelOverrides.test.ts
  src/extension.ts
  src/inlineCompletions/registerInlineCompletions.ts
  src/inlineCompletions/test/registrar.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/reasoningEffortFallback.test.ts
  tsconfig.json
Due: providers, config, inline-completions, utils

🧭🔄 Align LiteLLM discovery with modern provider groups
  README.marketplace.md
  README.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/extension.ts
  src/providers/backendSession.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/configManager.test.ts
  src/test/integration/extension.test.ts
Due: adapters, providers, commands, config

Doc & Release pre-prep
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

resolve small bug
  package.json
  src/providers/liteLLMProviderBase.ts
Due: providers

🧭 Modernize provider-group config and refresh telemetry
  package.json
  src/extension.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/test/integration/extension.test.ts
Due: providers

updating data points for release
  CHANGELOG.md
  package.json
Due: none

🧭 Modernize provider-group config and refresh telemetry (#82)
  CHANGELOG.md
  package.json
  src/extension.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/test/integration/extension.test.ts
Due: providers

Base clean up & Setup
  .investigate/gpt-5.1-codex-max_litellm_modelCard.json
  .investigate/gpt-5.1-codex-max_request.json
  .investigate/gpt-5.1-codex-max_response.json
  .memories/SKILL_TypeScript_Unit_Test_Generation.md
  .serena/.gitignore
  .serena/project.yml
Due: none

bugfix for incorrect setting and resetting of selected reasoning, added debug logging for reasoning levels.
  package.json
  src/config/modelOverrides.json
  src/providers/liteLLMProviderBase.ts
Due: providers, config
