Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

Add .gitattributes for LF line endings and update package.json and test coverage script
  .gitattributes
  package.json
  scripts/test-coverage.mjs
Due: none

chore: bump version to 2.5.5-dev1
  package.json
Due: none

Feature: Configurable Commit Message Prompts (#143)
  .gitattributes
  package.json
  scripts/test-coverage.mjs
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/test/liteLLMCommitProvider.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/types.ts
  src/utils/prompts.ts
  src/utils/test/prompts.test.ts
Due: providers, commands, config, utils

chore(release): 🚀 prepare v2.5.5
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

:busts_in_silhouette: Add @kud-csi as a contributor
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Due: none

🎨 Fix Prettier formatting for .all-contributorsrc
  .all-contributorsrc
Due: none

📝 Credit @kud-csi for the commit-prompt feature in CHANGELOG
  CHANGELOG.md
Due: none

🚀 Release v2.5.5 — PDF forwarding, configurable commit prompts, avatar fix (#144)
  .all-contributorsrc
  .github/agents/pr-reviewer.agent.md
  .github/hooks/format-on-edit.json
  .github/instructions/code-review.instructions.md
  .github/prompts/pr.prompt.md
  CHANGELOG.md
  CONTRIBUTORS.md
  LiteLLM_API-v1.82.3.json
  LiteLLM_API-v1.97.json
  README.marketplace.md
  README.md
  package.json
  scripts/hooks/format-after-edit.mjs
Due: none

fix: support Claude Fable and Mythos 5.1 compatibility
  CHANGELOG.md
  package.json
  src/adapters/messageConverter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/messageConverter.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/thinkingBlockRetry.test.ts
  src/providers/base/thinkingBlockRetry.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/parameterValidation.test.ts
  src/providers/v2Types.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/utils.ts
  src/utils/test/messageNormalization.test.ts
  src/utils/test/utils.test.ts
  src/utils/toolNameUtils.ts
Due: adapters, providers, utils, streaming

🚀 Release v2.5.6 — Claude Fable 5.1 compatibility (#146)
  CHANGELOG.md
  package.json
Due: none

🛠️ Unify Fable 5.1 model-ID matching across tool_choice downgrade and sampling denylist (#146)
  CHANGELOG.md
  src/providers/base/parameterFiltering.ts
  src/providers/base/requestBuilder.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/parameterValidation.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/utils/modelUtils.ts
  src/utils/test/modelUtils.test.ts
Due: providers, utils

📝 Update READMEs and CHANGELOG for 2.5.6 release notes
  CHANGELOG.md
  README.marketplace.md
  README.md
Due: none

🧊 Pin mocha to ^11.8.0 to fix CI reporter crash (#147)
  package.json
Due: none

🧪 Replace third-party JUnit reporters with in-repo version-agnostic reporter (#147)
  .vscode-test.mjs
  CHANGELOG.md
  package.json
  src/test/junitSpecReporter.test.ts
  src/test/junitSpecReporter.ts
Due: none

🚀 Release v2.5.6 — Claude Fable 5.1 / Mythos 5.1 compatibility (#146) (#147)
  .vscode-test.mjs
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/messageConverter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/messageConverter.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/thinkingBlockRetry.test.ts
  src/providers/base/thinkingBlockRetry.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/parameterValidation.test.ts
  src/providers/v2Types.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/test/junitSpecReporter.test.ts
  src/test/junitSpecReporter.ts
  src/utils.ts
  src/utils/modelUtils.ts
  src/utils/test/messageNormalization.test.ts
  src/utils/test/modelUtils.test.ts
  src/utils/test/utils.test.ts
  src/utils/toolNameUtils.ts
Due: adapters, providers, utils, streaming

🛠️ Harden marketplace publish pipeline against transient gallery outages
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

🧠 Fix dropped reasoning blocks on /responses endpoint (#149)
  AGENTS.md
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/responsesReasoningEvents.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/responsesReasoningEvents.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/test/chatProvider.test.ts
  src/test/integration/responses.test.ts
  src/types.ts
Due: adapters, providers, streaming

🚀 Release v2.5.7 — /responses reasoning blocks (#149)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

docs: update PR body for v2.5.7 release scope
  .plans/pr-150-body.md
Due: none

docs: remove temporary PR body scratch file
  .plans/pr-150-body.md
Due: none

🚀 Release v2.5.7 — Fix dropped reasoning blocks on /responses endpoint (#149) (#150)
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/responsesReasoningEvents.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/responsesReasoningEvents.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/test/chatProvider.test.ts
  src/test/integration/responses.test.ts
  src/types.ts
Due: adapters, providers, streaming

🛠️ Fix inactivity watchdog aborting live SSE streams during extended reasoning (#151)
  CHANGELOG.md
  src/adapters/sse/sseDecoder.ts
  src/adapters/sse/test/sseDecoder.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
Due: adapters, providers, sse

🧪 Roll in mocha 12 upgrade from Dependabot (#148)
  CHANGELOG.md
  package.json
Due: none

feat: 📉 reduce PostHog telemetry event volume
  CHANGELOG.md
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
  src/telemetry/telemetryAggregate.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryAggregate.test.ts
  src/telemetry/test/telemetryService.test.ts
  src/telemetry/test/telemetryVolume.test.ts
  src/test/integration/extension.test.ts
  src/test/utils/telemetryMock.ts
  src/utils/telemetry.ts
  src/utils/test/telemetry.test.ts
Due: providers, utils

🚀 Promote release version v2.5.8
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.5.8 — telemetry volume reduction, watchdog fix, mocha 12 (#152)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🔀 Decouple Marketplace and Open VSX publishes; credit all contributors
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: none

🧪 Fix EADDRINUSE CI flake with ephemeral mock ports
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
Due: none

📝 Add EADDRINUSE flake fix to Unreleased changelog
  CHANGELOG.md
Due: none

🖼️ Fix image/PDF attachments dropped on /responses (#154)
  AGENTS.md
  CHANGELOG.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/test/integration/types.test.ts
  src/types.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
Due: adapters, utils

🚀 Release v2.5.9 — /responses image attachments, CI flake, independent registry publishes (#154)
  CHANGELOG.md
  package.json
Due: none

🔀 Decouple Marketplace/Open VSX publishes; credit all contributors (#153)
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/test/integration/types.test.ts
  src/types.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
Due: adapters, utils

fix: harden VS Code compatibility and response usage reporting
  .github/prompts/weekly-vscode-compatibility-review.prompt.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, utils, streaming

📏 Fix commit diff token budgeting
  AGENTS.md
  CHANGELOG.md
  package.json
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/types.ts
  src/utils/commitDiffBudget.ts
  src/utils/gitUtils.ts
  src/utils/test/commitDiffBudget.test.ts
  src/utils/test/gitUtils.test.ts
Due: commands, config, utils

chore: update extension version and VSCE tooling
  package.json
Due: none

🚀 Release v2.5.10 — /responses cache usage, Stable 1.138 edit-tool guard, commit diff budgeting
  .github/workflows/release.yml
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

📚 Fix README drift: command titles, missing settings rows, stale token indicator
  README.marketplace.md
  README.md
Due: none

docs: add Marketplace and GitHub stars badges
  README.md
Due: none

🚀 Release v2.5.10 — /responses cache usage, Stable 1.138 edit-tool guard, commit diff budgeting (#155)
  .github/prompts/weekly-vscode-compatibility-review.prompt.md
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/types.ts
  src/utils/commitDiffBudget.ts
  src/utils/gitUtils.ts
  src/utils/modelCapabilities.ts
  src/utils/test/commitDiffBudget.test.ts
  src/utils/test/gitUtils.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, commands, config, utils, streaming

🔎 Surface /responses truncation terminals and add stream terminal fingerprint
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/streamTerminalFingerprint.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/streamTerminalFingerprint.test.ts
  src/providers/liteLLMChatProvider.ts
Due: adapters, providers, streaming

Path conditions:
  adapters: any of: src/adapters/**
  providers: any of: src/providers/**
  commands: any of: src/commands/**
  config: any of: src/config/**
  inline-completions: any of: src/inlineCompletions/**
  utils: any of: src/utils/**
  streaming: any of: src/adapters/streaming/**
  sse: any of: src/adapters/sse/**
