Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

feat: Enhance reasoning capabilities and telemetry integration
  package.json
  src/commands/test/inlineCompletions.test.ts
  src/config/configManager.ts
  src/config/modelOverrides.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/inlineCompletions/test/provider.test.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/test/integration/extension.test.ts
  src/test/utils/telemetryMock.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, commands, config, inline-completions, utils

📊 Enriched token usage reporting and reserved output budget
  .github/agents/investigative agent.agent.md
  eslint.config.mjs
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/tokenizers/heuristicTokenizer.ts
  src/config/configManager.ts
  src/config/modelOverrides.json
  src/config/modelOverrides.ts
  src/config/test/config.test.ts
  src/config/test/modelOverrides.test.ts
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/test/integration/extension.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/telemetry.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/telemetry.test.ts
Due: adapters, providers, config, utils, streaming

🛠️ Add forceResponsesEndpoint config and fix ESLint generic constructor error
  eslint.config.mjs
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/types.ts
Due: providers, config

🧬 Derive provider group names from base URLs
  package.json
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: providers, utils

feat: 🚀 improve commit generation routing and token usage telemetry
  package.json
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/utils/telemetryMock.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, commands, utils

feat: centralize streaming token capture and remove experimental usage flag
  .investigate/high-level-packet-flow.mmd
  README.marketplace.md
  README.md
  package.json
  src/adapters/responsesClient.ts
  src/adapters/streaming/streamTokenCapture.ts
  src/adapters/streaming/test/streamTokenCapture.test.ts
  src/adapters/test/responsesClient.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/responses.test.ts
  src/types.ts
Due: adapters, providers, config, inline-completions, streaming

fix: abort streaming requests on cancellation and inactivity timeout ⚡
  .devcontainer/devcontainer.json
  .investigate/chatflow.mmd
  package.json
  src/adapters/responsesClient.ts
  src/adapters/sse/sseDecoder.ts
  src/adapters/test/responsesClient.test.ts
  src/providers/liteLLMChatProvider.ts
Due: adapters, providers, sse

feat: cache models per config to preserve VS Code picker state ✨
  .vscode/settings.json
  package.json
  scripts/post-create.sh
  scripts/test-coverage.mjs
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.drift.test.ts
Due: providers

refactor: split provider base into discovery, request, and transport services 🧩
  src/providers/base/modelDiscovery.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/transport.ts
  src/providers/base/types.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
Due: providers

feat: improve model discovery and capability tagging ✨
  .vscode/settings.json
  package.json
  src/providers/base/modelDiscovery.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/discoveryThrottling.test.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
  src/utils/test/modelUtils.test.ts
Due: providers, utils

chore: bump dev version and tidy formatting ✨
  package.json
  src/providers/base/modelDiscovery.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

feat: ♻️ migrate /responses stream handling into the shared interpreter
  AGENTS.md
  package.json
  src/adapters/index.ts
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/streamTokenCapture.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/responsesClient.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/responses.test.ts
  src/test/integration/tokenTelemetry.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, utils, streaming

fix: preserve reasoning-effort selection across model refreshes ✨
  package.json
  src/config/modelOverrides.json
  src/config/test/modelOverrides.test.ts
  src/providers/base/modelDiscovery.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/transport.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, config, utils

feat: 🧩 add a master toggle for model overrides
  README.md
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/types.ts
Due: config

updating llm response example
  llm-response.json
Due: none

fix: 🛡️ add discovery backoff for repeated model discovery failures
  package.json
  src/providers/base/discoveryBackoff.ts
  src/providers/base/modelDiscovery.ts
  src/providers/base/test/discoveryBackoff.test.ts
Due: providers

feat: improve multi-backend model discovery and add prompt audit tooling ✨
  .github/agents/Project Planner.agent.md
  .user_home/prompts/audit-prompts.prompt.md
  package.json
  src/providers/base/modelDiscovery.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
Due: providers

check-in post iteration 1 for fixing multibackends
  package.json
  src/adapters/multiBackendClient.ts
  src/providers/base/modelDiscovery.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
Due: adapters, providers

feat: migrate LiteLLM configuration to VS Code Language Models UI ✨
  package.json
  scripts/test-coverage.mjs
  src/adapters/litellmClient.ts
  src/adapters/sse/sseDecoder.ts
  src/commands/generateCommitMessage.ts
  src/commands/manageConfig.ts
  src/commands/test/generateCommitMessage.test.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/extension.ts
  src/providers/base/modelDiscovery.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/discoveryBackoff.test.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
  src/providers/test/liteLLMProviderBase.drift.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/telemetry/telemetryService.ts
  src/test/configManager.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/extension.test.ts
  src/test/integration/tokenTelemetry.test.ts
  src/utils/test/modelUtils.test.ts
Due: adapters, providers, commands, config, utils, sse

fix: 🐛 isolate model discovery state per group and stop refresh loops
  package.json
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

chore: remove deprecated inline completions and model picker plumbing 🧹
  package.json
  src/commands/inlineCompletions.ts
  src/commands/test/inlineCompletions.test.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/inlineCompletions/registerInlineCompletions.ts
  src/inlineCompletions/test/provider.test.ts
  src/inlineCompletions/test/registrar.test.ts
  src/providers/test/discoveryThrottling.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/extension.test.ts
Due: providers, commands, inline-completions

refactor: drop legacy backend management in favor of VS Code LM config
  package.json
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/test/completionProvider.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/extension.test.ts
  src/test/utils/testMocks.ts
Due: providers, commands, config

feat!: migrate LiteLLM to VS Code provider-group configuration
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/multiBackendClient.ts
  src/adapters/test/multiBackendClient.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/base/modelDiscovery.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/configManager.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/tokenTelemetry.test.ts
  src/test/integration/types.test.ts
  src/types.ts
Due: adapters, providers, config

Refactor Transport tests and enhance configuration handling
  .investigate/chatflow.mmd
  .investigate/high-level-packet-flow.mmd
  AGENTS.md
  CHANGELOG.md
  MasterPlan.md
  README.md
  package.json
  src/adapters/index.ts
  src/adapters/multiBackendClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/multiBackendClient.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/base/modelDiscovery.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/discoveryBackoff.test.ts
  src/providers/base/transport.ts
  src/providers/base/types.ts
  src/providers/index.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/discoveryThrottling.test.ts
  src/providers/test/liteLLMProviderBase.discovery.test.ts
  src/providers/test/liteLLMProviderBase.drift.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
  src/test/configManager.test.ts
  src/test/integration/tokenTelemetry.test.ts
  tsconfig.json
Due: adapters, providers, config, streaming

🛠️ Fix sparse tool capability detection
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
Due: utils

Version bump from last change set
  package.json
Due: none

chore: clean up worktree artifacts and bump dev version 🧹
  .gitignore
  .prettierignore
  MasterPlan.md
  eslint.config.mjs
  package.json
  src/providers/base/types.ts
  tsconfig.json
Due: providers

feat: ✨ sanitize tool names for Bedrock-compatible message handling
  package.json
  src/adapters/messageConverter.test.ts
  src/adapters/messageConverter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/test/liteLLMCommitProvider.test.ts
  src/test/utils/mockLiteLLMServer.test.ts
  src/test/utils/mockLiteLLMServer.ts
  src/utils/test/toolNameUtils.test.ts
  src/utils/toolNameUtils.ts
Due: adapters, providers, utils, streaming

feat: ✨ add structured logging guidance and tokenizer observability
  .github/instructions/logging-levels.instructions.md
  .github/prompts/add-logging-only.prompt.md
  .github/prompts/add-tests-only.prompt.md
  .github/prompts/test-and-log.prompt.md
  src/adapters/tokenizers/heuristicTokenizer.ts
  src/adapters/tokenizers/test/heuristicTokenizer.test.ts
Due: adapters

test: expand messageConverter coverage 🧪
  package.json
  src/adapters/test/messageConverter.test.ts
Due: adapters

feat: 🚀 migrate legacy LiteLLM configs on activation
  CHANGELOG.md
  package.json
  src/adapters/messageConverter.test.ts
  src/config/legacyConfigMigration.ts
  src/config/test/legacyConfigMigration.test.ts
  src/extension.ts
  src/telemetry/telemetryService.ts
  src/telemetry/types.ts
Due: adapters, config

test: broaden coverage across streaming, observability, and activation flows 🧪
  package.json
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/observability/test/auditTrail.test.ts
  src/observability/test/structuredLogger.test.ts
  src/test/integration/extension.test.ts
Due: adapters, streaming

ci: include dev/* branches in workflow triggers
  .github/workflows/ci.yml
Due: none

fix: normalize tool call IDs for stricter provider limits (issue #83) 🛠️
  package.json
  src/adapters/test/responsesAdapter.test.ts
  src/streaming/test/streamInterpreter.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, utils

fix: estimate tokens for image and PDF data parts (closes #76) 🖼️
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/tokenizers/heuristicTokenizer.ts
  src/adapters/tokenizers/test/heuristicTokenizer.test.ts
Due: adapters

chore: tighten TypeScript linting and typings ✨
  eslint.config.mjs
  package.json
  src/config/legacyConfigMigration.ts
  src/config/test/legacyConfigMigration.test.ts
  src/test/utils/mockLiteLLMServer.test.ts
  src/test/utils/mockLiteLLMServer.ts
Due: config

chore(release): publish 2.1.0 and document provider-group migration
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

docs: 📝 add v2.1.0 GitHub release notes
  .github/release-notes/v2.1.0.md
Due: none

chore: update Codecov action and dev dependencies
  .github/workflows/ci.yml
  package.json
Due: none
