Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

🛠️ Prevent redundant model discovery loops and redundant fetches Fixes #62
  package.json
  src/providers/liteLLMProviderBase.ts
  src/providers/test/discoveryThrottling.test.ts
Due: providers

chore: increment version for patch release
  package.json
Due: none

fixing failing tests in CI
  src/providers/test/discoveryThrottling.test.ts
Due: providers

test: ⏱️ make discoveryThrottling tests deterministic using sinon fake timers
  src/providers/test/discoveryThrottling.test.ts
Due: providers

test: 🧪 refine types in discovery throttling tests and improve clarity in comments
  src/providers/test/discoveryThrottling.test.ts
Due: providers

chore: update Docker actions to latest versions for improved stability
  .github/workflows/docker-build.yml
  src/providers/test/discoveryThrottling.test.ts
Due: providers

🛠️ Prevent redundant model discovery loops and redundant fetches (#63)
  .github/workflows/docker-build.yml
  package.json
  src/providers/liteLLMProviderBase.ts
  src/providers/test/discoveryThrottling.test.ts
Due: providers

refactor: 🛠️ improve logging architecture and cleanup
  package.json
  src/extension.ts
  src/observability/structuredLogger.ts
  src/observability/test/structuredLogger.test.ts
Due: none

feat: release version 1.5.0 and improve provider registration 🚀
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/extension.ts
Due: none

ci: 🔧 Remove release tag trigger from workflow
  .github/workflows/ci.yml
Due: none

chore: 🚀 bump version to 1.5.1 and disable preview mode
  package.json
Due: none

feat: 🚀 add multi-backend support and strict TypeScript guidelines
  .devcontainer/devcontainer.json
  .github/hooks/post-session-validation.json
  .github/instructions/typescript-no-any.instructions.md
  .github/workflows/ci.yml
  AGENTS.md
  CHANGELOG
  LiteLLM_API.json
  README.md
  liteLLM-allowed-routes.json
  scripts/post-session-validation.sh
  src/adapters/index.ts
  src/adapters/multiBackendClient.ts
  src/adapters/test/client.test.ts
  src/adapters/test/multiBackendClient.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/commands/inlineCompletions.ts
  src/commands/manageConfig.ts
  src/commands/modelPicker.ts
  src/commands/test/bug_repro.test.ts
  src/commands/test/generateCommitMessage.test.ts
  src/commands/test/inlineCompletions.test.ts
  src/commands/test/manageConfig.test.ts
  src/commands/test/modelPicker.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/observability/test/auditTrail.test.ts
  src/observability/test/hookSystem.test.ts
  src/observability/test/structuredLogger.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/extension.test.ts
  src/types.ts
  src/utils/test/mapChatRoles.test.ts
Due: adapters, providers, commands, config, utils

feat: 📊 integrate PostHog telemetry and add plan generation standards
  .github/instructions/plan-generation.instructions.md
  esbuild.js
  package.json
  src/adapters/litellmClient.ts
  src/adapters/multiBackendClient.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/commands/manageConfig.ts
  src/commands/modelPicker.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/inlineCompletions/registerInlineCompletions.ts
  src/observability/posthogHook.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/telemetry/posthogAdapter.ts
  src/telemetry/posthogAdapter.web.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/telemetry/types.ts
  src/utils/telemetry.ts
  tsconfig.json
Due: adapters, providers, commands, inline-completions, utils

feat: 🚀 Upgrade planning agent and integrate PostHog error tracking
  .github/agents/Project Planner.agent.md
  .github/prompts/vscode-extension-implementation.prompt.md
  .vscodeignore
  README.md
  esbuild.js
  package.json
  scripts/upload-posthog-sourcemaps.mjs
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/telemetry/posthogAdapter.ts
  src/telemetry/posthogAdapter.web.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/posthogAdapter.test.ts
  src/telemetry/test/posthogAdapter.web.test.ts
  src/telemetry/test/telemetryService.test.ts
  src/telemetry/types.ts
  src/utils/logger.ts
  tsconfig.json
Due: providers, utils

feat: add centralized telemetry and update pre-release version 🚀
  CHANGELOG.md
  package.json
  scripts/post-session-validation.sh
  tsconfig.json
Due: none

feat: 🛰️ Implement comprehensive telemetry and add project planning agent
  .github/hooks/post-session-validation.json
  .github/prompts/project-planner.prompt.md
  CHANGELOG.md
  README.md
  package.json
  scripts/post-session-validation.sh
  src/commands/generateCommitMessage.ts
  src/commands/manageConfig.ts
  src/commands/modelPicker.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/telemetry/types.ts
Due: providers, commands, config, inline-completions

feat: 🚀 improve telemetry identification and bump version
  package.json
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
Due: none

test: 🧪 update telemetry unit tests to use sessionId for distinctId
  src/telemetry/test/telemetryService.test.ts
Due: none

chore: 🛠️ Add implementation prompt, update version, and expand test coverage
  .github/prompts/implement-plan.prompt.md
  package.json
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/commands/manageConfig.ts
  src/commands/test/generateCommitMessage.test.ts
  src/commands/test/manageConfig.test.ts
  src/commands/test/modelPicker.test.ts
  src/config/test/config.test.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/inlineCompletions/test/provider.test.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/posthogAdapter.test.ts
  src/telemetry/test/posthogAdapter.web.test.ts
  src/test/integration/extension.test.ts
  src/utils/test/modelUtils.test.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, commands, config, inline-completions, utils, streaming

feat: 🚀 enhance provider compatibility and robust request validation
  package.json
  src/adapters/responsesClient.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProviderV2.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, utils

refactor: 📉 reduce telemetry verbosity
  package.json
  src/observability/posthogHook.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCompletionProvider.ts
  src/utils/telemetry.ts
Due: providers, utils

test: 🧪 update fetch stubbing in LiteLLM client tests
  src/adapters/test/client.test.ts
Due: adapters

feat: 🚀 Enhance telemetry system and tracking
  .github/instructions/telemetry.instructions.md
  .github/prompts/add-telemetry-event.prompt.md
  .github/skills/posthog-integration/SKILL.md
  package.json
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
Due: providers

feat: 🚀 Add changelog automation and improve telemetry observability
  .github/prompts/update-changelog-from-done-plans.prompt.md
  CHANGELOG
  CHANGELOG.md
  package.json
  src/observability/posthogHook.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/utils/telemetry.ts
  src/utils/test/telemetry.test.ts
Due: providers, utils

feat: 🚀 Add support for multiple LiteLLM instances
  .github/instructions/typescript-no-any.instructions.md
  .vscode/mcp.json
  CHANGELOG.md
  package.json
  scripts/post-session-validation.sh
  src/commands/manageConfig.ts
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/telemetry/posthogAdapter.ts
Due: providers, commands

feat: 🎉 Add Model Capability Overrides configuration to improve VS Code support
  CHANGELOG.md
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, config, utils

test: add unit tests for PostHogHook functionality 🎉
  src/observability/test/posthogHook.test.ts
Due: none

chore: update CI workflows and coverage thresholds 🎉
  .github/workflows/ci.yml
  codecov.yml
Due: none

release: bump version to 1.6.0-rc1 🎉
  CHANGELOG.md
  package.json
Due: none

feat: select repository by SCM rootUri when generating commit messages ✨
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/utils/gitUtils.ts
  src/utils/test/gitUtils.test.ts
Due: commands, utils

updating change log and version
  CHANGELOG.md
  package.json
Due: none

test: add shared test mocks and stabilize unit tests ✨
  src/adapters/test/client.test.ts
  src/commands/test/bug_repro.test.ts
  src/commands/test/manageConfig.test.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/extension.test.ts
  src/test/integration/tokenTelemetry.test.ts
  src/test/utils/testMocks.ts
  src/utils/test/issue64.test.ts
  src/utils/test/messageNormalization.test.ts
Due: adapters, providers, commands, utils

test: add unit tests for testMocks utilities 🧪
  src/test/utils/testMocks.test.ts
Due: none

chore: unify build/CI tooling with zx script, add version utils & tests ✨
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  package.json
  scripts/build.mjs
  scripts/test/build-version.test.mjs
  scripts/versionUtils.mjs
  src/providers/liteLLMChatProvider.ts
Due: providers

feat: disable PostHog telemetry in CI/mock environments 🛑
  .github/workflows/ci.yml
  package.json
  src/telemetry/posthogAdapter.ts
  src/telemetry/posthogAdapter.web.ts
  src/telemetry/test/posthogAdapter.test.ts
  src/telemetry/test/posthogAdapter.web.test.ts
Due: none

fix: bad ci.yml command
  .github/workflows/ci.yml
Due: none

refactor: centralize package metadata handling in build script ♻️
  package.json
  scripts/build.mjs
Due: none
