Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

Dev/rel 2.4.0 (#126)
  .all-contributorsrc
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
  package.json
Due: none

fix: ✍️ normalize commit model IDs for SCM generation
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/test/liteLLMCommitProvider.test.ts
Due: providers, config

🚀 Release v2.4.1 — normalize commit model IDs, fix vendor prefix handling
  .all-contributorsrc
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.4.1 — normalize commit model IDs, fix vendor prefix handling (#128)
  .all-contributorsrc
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/test/liteLLMCommitProvider.test.ts
Due: providers, config

feat: expose backend display name in model family 👀
  CHANGELOG.md
  README.md
  package.json
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
Due: providers

feat: 🔍 distinguish third-party model labels with backend/model family
  CHANGELOG.md
  README.md
  package.json
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
Due: providers

feat: ✨ improve model metadata and reasoning continuity
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/config/test/config.test.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/test/configManager.test.ts
  src/types.ts
  src/utils.ts
  src/utils/modelCapabilities.ts
  src/utils/pricingCalculator.ts
  src/utils/test/messageNormalization.test.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/pricingCalculator.test.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, config, utils, streaming

✨ Improve third-party model metadata and reasoning continuity (#131)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/config/test/config.test.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/test/configManager.test.ts
  src/types.ts
  src/utils.ts
  src/utils/modelCapabilities.ts
  src/utils/pricingCalculator.ts
  src/utils/test/messageNormalization.test.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/pricingCalculator.test.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, config, utils, streaming

feat: ✨ add configurable inline completion endpoints
  .github/prompts/finish-dev-version.prompt.md
  .github/prompts/start-next-dev-version.prompt.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/providers/backendSession.ts
  src/providers/base/completionsUrl.test.ts
  src/providers/base/completionsUrl.ts
  src/providers/liteLLMProviderRegistry.ts
  src/types.ts
  src/utils/modelCapabilities.ts
Due: providers, config, utils

🚀 Release v2.5.1 — configure inline completion endpoints
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.5.1 — configure inline completion endpoints (#132)
  .github/prompts/finish-dev-version.prompt.md
  .github/prompts/start-next-dev-version.prompt.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/providers/backendSession.ts
  src/providers/base/completionsUrl.test.ts
  src/providers/base/completionsUrl.ts
  src/providers/liteLLMProviderRegistry.ts
  src/types.ts
  src/utils/modelCapabilities.ts
Due: providers, config, utils

fix: 🧼 keep native model rows price-free
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
Due: providers

feat: support adaptive reasoning and streaming thinking metadata
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/reasoningTransport.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/transport.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/parameterValidation.test.ts
  src/providers/test/reasoningTransport.test.ts
  src/types.ts
Due: adapters, providers, streaming

refactor: inject VS Code thinking part constructor
  package.json
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
Due: adapters, streaming

fix: 🧠 harden thinking-block continuity across model switches
  CHANGELOG.md
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/base/test/thinkingBlockRetry.test.ts
  src/providers/base/test/transport.fallback.test.ts
  src/providers/base/thinkingBlockRetry.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/types.ts
  src/utils.ts
  src/utils/test/messageNormalization.test.ts
Due: adapters, providers, utils

🚀 Release v2.5.2 — stabilize reasoning continuity
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.5.2 — stabilize reasoning continuity (#136)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/vscodePartEmitter.test.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/reasoningTransport.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/thinkingBlockRetry.test.ts
  src/providers/base/test/transport.fallback.test.ts
  src/providers/base/thinkingBlockRetry.ts
  src/providers/base/transport.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/providers/test/reasoningTransport.test.ts
  src/types.ts
  src/utils.ts
  src/utils/test/messageNormalization.test.ts
Due: adapters, providers, utils, streaming

Preserve adaptive thinking through retries
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
  src/providers/base/reasoningRetryState.ts
  src/providers/base/reasoningTransport.ts
  src/providers/base/test/reasoningRetryState.test.ts
  src/providers/base/test/transport.fallback.test.ts
  src/providers/base/transport.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/reasoningTransport.test.ts
  src/types.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/reasoningEffortFallback.test.ts
Due: adapters, providers, utils

🛠️ Preserve adaptive Claude thinking through retries (#137)
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
  src/providers/base/reasoningRetryState.ts
  src/providers/base/reasoningTransport.ts
  src/providers/base/test/reasoningRetryState.test.ts
  src/providers/base/test/transport.fallback.test.ts
  src/providers/base/transport.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/reasoningTransport.test.ts
  src/types.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/reasoningEffortFallback.test.ts
Due: adapters, providers, utils

chore: release version 2.5.3 🚀
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

Enable eligible prompt cache controls
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/base/requestBuilder.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, utils

Preserve and retry prompt cache controls
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/base/transport.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
Due: adapters, providers

Cover prompt-cache breakpoint limit
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
Due: providers

Guard explicit cache marker stamps
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
  src/utils.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
Due: adapters, providers, utils

Add prompt-cache policy helper
  src/types.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
Due: utils

Map Anthropic root prompt-cache usage fields
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
Due: adapters, streaming

Avoid Xvfb display collisions
  scripts/test-coverage.mjs
Due: none

Share the chat request finalization tail
  src/providers/base/requestBuilder.ts
Due: providers

Gate Path 1 to Anthropic Claude cards
  src/adapters/litellmClient.ts
  src/adapters/test/client.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/transport.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
Due: adapters, providers, utils

⚡ Enable Anthropic prompt caching for eligible models (#135) (#138)
  scripts/test-coverage.mjs
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/transport.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.transport.test.ts
  src/types.ts
  src/utils.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, utils, streaming

chore: release version 2.5.4 🚀
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

Fix broken amwdrizz contributor avatar
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Due: none

🖼️ Fix broken amwdrizz contributor avatar (#139) (#141)
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Due: none

Pass Copilot PDF parts through to LiteLLM
  src/adapters/dataUriContentItem.ts
  src/adapters/messageConverter.ts
  src/adapters/test/dataUriContentItem.test.ts
  src/adapters/test/messageConverter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, utils

Encode PDFs as file data URIs
  src/adapters/dataUriContentItem.ts
  src/adapters/messageConverter.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/dataUriContentItem.test.ts
  src/adapters/test/messageConverter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/types.ts
  src/utils.ts
  src/utils/promptCacheControl.ts
  src/utils/test/utils.test.ts
Due: adapters, utils

Simplify PDF content-item encoding
  src/adapters/dataUriContentItem.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/dataUriContentItem.test.ts
Due: adapters

Cover PDF cache_control stamping
  src/adapters/messageConverter.ts
  src/adapters/responsesAdapter.ts
  src/utils/test/promptCacheControl.test.ts
Due: adapters, utils

📄 Proposal: send PDFs as file_data (#89) (#140)
  src/adapters/dataUriContentItem.ts
  src/adapters/messageConverter.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/dataUriContentItem.test.ts
  src/adapters/test/messageConverter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/v2OpenAIMessageConverter.ts
  src/types.ts
  src/utils.ts
  src/utils/promptCacheControl.ts
  src/utils/test/promptCacheControl.test.ts
  src/utils/test/utils.test.ts
Due: adapters, utils

chore: add PR review tooling and LiteLLM API schema
  .github/agents/pr-reviewer.agent.md
  .github/hooks/format-on-edit.json
  .github/instructions/code-review.instructions.md
  .github/prompts/pr.prompt.md
  LiteLLM_API-v1.82.3.json
  LiteLLM_API-v1.97.json
  scripts/hooks/format-after-edit.mjs
Due: none

✨ Add configurable prompt overrides for commit message generation
  package.json
  scripts/test-coverage.mjs
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/test/liteLLMCommitProvider.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/types.ts
  src/utils/prompts.ts
  src/utils/test/prompts.test.ts
Due: providers, commands, config, utils
