Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

feat: 🚀 Add regression test for model ID copy bug and update agent tools list
  .github/agents/investigative agent.agent.md
  .serena/project.yml
  package.json
  src/commands/test/bug_repro.test.ts
Due: commands

feat: Add git commit message generation
  .github/agents/Co-Coder-TS_VSC.agent.md
  AGENTS.md
  package.json
  src/commands/generateCommitMessage.ts
  src/commands/modelPicker.ts
  src/commands/test/generateCommitMessage.test.ts
  src/commands/test/manageConfig.test.ts
  src/commands/test/modelPicker.test.ts
  src/extension.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/commitProvider.test.ts
  src/types.ts
  src/utils/gitUtils.ts
  src/utils/prompts.ts
  src/utils/test/gitUtils.test.ts
Due: providers, commands, utils

feat: Add model selection for commit message generation 🚀
  .github/agents/investigative agent.agent.md
  package.json
  src/commands/manageConfig.ts
  src/config/configManager.ts
  src/extension.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/utils/modelCapabilities.ts
Due: providers, commands, config, utils

feat: Telemetry improvements for LiteLLM providers 🚀
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
Due: providers

feat: Improve token display and accuracy in LiteLLM provider
  package.json
  src/providers/liteLLMProviderBase.ts
Due: providers

feat: Mount SSH keys in dev container 🔑
  .devcontainer/devcontainer.json
Due: none

docs: 📝 update READMEs with git commit generation and connection diagnostics
  README.marketplace.md
  README.md
Due: none

Forgot the version bump...
  package.json
Due: none

refactor: Improve test type safety and remove redundant casts
  src/inlineCompletions/test/provider.test.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/cancellation.test.ts
Due: providers, inline-completions

feat: 🧪 improve testing for completion provider and responses client
  src/adapters/test/responsesClient.test.ts
  src/providers/test/completionProvider.test.ts
Due: adapters, providers

increasing thresholds
  codecov.yml
Due: none

``` feat: ✨ Add LiteLLM reset configuration command and improve config handling
  package.json
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/extension.test.ts
Due: providers, commands, config

ci: Update CI workflow branches
  .github/workflows/ci.yml
Due: none

chore: Remove unused import in liteLLMProviderBase.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

feat: 💡 Use model capabilities for diff truncation
  src/commands/generateCommitMessage.ts
  src/utils/gitUtils.ts
Due: commands, utils

chore: Skip LiteLLM error handling tests in CI
  src/test/integration/errorHandling.test.ts
Due: none

feat: Add troubleshooting guide to READMEs 📄
  README.marketplace.md
  README.md
  package.json
Due: none

build: 🚀 Bump version to v1.4.0
  package.json
Due: none

🚀 Release v1.4.0 — Reset Config, Smart Diff Truncation & README updates (#43)
  .github/workflows/ci.yml
  README.marketplace.md
  README.md
  package.json
  src/commands/generateCommitMessage.ts
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCompletionProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/completionProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/extension.test.ts
  src/utils/gitUtils.ts
Due: providers, commands, config, utils

feat: Implement precise token counting and context calculation 🎯
  package.json
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/adapters/tokenizers/heuristicTokenizer.ts
  src/adapters/tokenizers/selectTokenizer.ts
  src/adapters/tokenizers/tiktokenTokenizer.ts
  src/commands/generateCommitMessage.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/inlineCompletions/test/provider.test.ts
  src/providers/test/chatProvider.test.ts
  src/test/integration/errorHandling.test.ts
  src/test/integration/tokenTelemetry.test.ts
  src/types.ts
  src/utils/gitUtils.ts
  src/utils/test/gitUtils.test.ts
  test_output.txt
Due: adapters, providers, commands, inline-completions, utils

updating ci
  .github/workflows/ci.yml
Due: none

chore: version bump for release
  package.json
Due: none

cleaning up temp file
  test_output.txt
Due: none

feat: Improve tokenization and safety buffer
  package.json
  src/adapters/tokenUtils.ts
  src/adapters/tokenizers/selectTokenizer.ts
  src/adapters/tokenizers/tiktokenTokenizer.ts
  src/test/integration/tokenTelemetry.test.ts
Due: adapters

chore: version bump
  package.json
Due: none

feat: Improve tokenization and safety buffer (#47)
  package.json
  src/adapters/tokenUtils.ts
  src/adapters/tokenizers/selectTokenizer.ts
  src/adapters/tokenizers/tiktokenTokenizer.ts
  src/test/integration/tokenTelemetry.test.ts
Due: adapters

[Bug]: GPT-5.3-codex Tool Calling Failure Fixes #54
  src/adapters/responsesAdapter.ts
  src/providers/liteLLMProviderBase.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, utils

[chore] update agent and skills
  .github/agents/Co-Coder-TS_VSC.agent.md
  .github/agents/investigative agent.agent.md
  .github/prompts/vscode-extension-implementation.prompt.md
  .github/skills/vscode-extension-implementation/SKILL.md
  .github/skills/vscode-extension-investigation/SKILL.md
  .vscode/mcp.json
  AGENTS.md
  package.json
  src/providers/liteLLMProviderBase.ts
Due: providers

fix: Add token counting functionality and update agent tools
  .github/agents/investigative agent.agent.md
  llm-response.json
  package.json
  src/adapters/litellmClient.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/types.ts
Due: adapters, providers

feat: Enhance diff handling and token counting
  package.json
  src/commands/generateCommitMessage.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/utils.ts
  src/utils/gitUtils.ts
  src/utils/test/gitUtils.test.ts
Due: providers, commands, utils

feat: Improve model discovery and refresh behavior 🚀
  .github/agents/investigative agent.agent.md
  package.json
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
Due: providers

saving changes, non-functional
  package.json
  src/adapters/responsesClient.ts
  src/adapters/test/responsesClient.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
  src/types.ts
Due: adapters, providers, config

feat: add experimental V2 Chat Provider and V2 message pipeline ✨
  .vscode/settings.json
  package.json
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/config/configManager.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/v2Types.ts
  src/streaming/test/streamInterpreter.test.ts
  src/test/integration/errorHandling.test.ts
  src/types.ts
  src/utils.ts
  src/utils/test/utils.test.ts
  src/vscode.proposed.chatProvider.d.ts
  src/vscode.proposed.languageModelThinkingPart.d.ts
Due: adapters, providers, commands, config, inline-completions, utils, streaming

fixing ignores...
  .gitignore
  .prettierignore
  src/vscode.proposed.chatProvider.d.ts
  src/vscode.proposed.languageModelThinkingPart.d.ts
Due: none

chore: tighten .gitignore globs for VS Code type files 🧹
  .gitignore
Due: none

chore: update CI workflows, actions, and dev dependencies 🔧
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

fix: include original errors as cause when rethrowing 🐛
  package.json
  src/adapters/litellmClient.ts
  src/providers/liteLLMChatProvider.ts
  src/utils.ts
Due: adapters, providers

Invstigate/context window usage (#58)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesClient.test.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/inlineCompletions/liteLLMInlineCompletionProvider.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMChatProviderV2.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/chatProviderV2.test.ts
  src/providers/test/commitProvider.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/v2Types.ts
  src/streaming/test/streamInterpreter.test.ts
  src/test/integration/errorHandling.test.ts
  src/types.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: adapters, providers, commands, config, inline-completions, utils, streaming

ver bump in prep for release. [skip ci]
  package.json
Due: none
