Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

🔎 Add terminal-frame dump, cachedTokens fingerprint, proxy cache bypass; revert Agents window opt-in
  CHANGELOG.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/streamTerminalFingerprint.ts
  src/adapters/streaming/terminalFrameDump.ts
  src/adapters/streaming/test/streamTerminalFingerprint.test.ts
  src/adapters/streaming/test/terminalFrameDump.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/types.ts
Due: adapters, providers, config, streaming

📚 Document disableLiteLLMResponseCaching setting and permanent stream-triage instrumentation
  AGENTS.md
  README.marketplace.md
  README.md
Due: none

🚨 Surface abnormal stream terminations as typed chat errors
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/streaming/streamAbnormalTermination.ts
  src/adapters/streaming/test/streamAbnormalTermination.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
  src/types.ts
Due: adapters, providers, config, streaming

🚀 Release v2.5.11 — surface abnormal stream terminations, proxy cache bypass
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.5.11 — surface abnormal stream terminations, proxy cache bypass (#156)
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/streamAbnormalTermination.ts
  src/adapters/streaming/streamTerminalFingerprint.ts
  src/adapters/streaming/terminalFrameDump.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/streamAbnormalTermination.test.ts
  src/adapters/streaming/test/streamTerminalFingerprint.test.ts
  src/adapters/streaming/test/terminalFrameDump.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/types.ts
Due: adapters, providers, config, streaming

🧠🔁 Declare reasoning-replay capabilities + true context window
  AGENTS.md
  CHANGELOG.md
  src/providers/base/reasoningTransport.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/modelUtils.test.ts
Due: providers, utils

🔖 Bump to 2.5.12-dev1 for 1.141 Insiders replay validation
  package.json
Due: none

🛠️ Normalize harness group model IDs
  CHANGELOG.md
  src/providers/base/registeredModelId.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/registeredModelId.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/harnessModelId.test.ts
Due: providers

chore: version bump
  package.json
Due: none

🛠️ Normalize Copilot harness group model IDs (#157)
  AGENTS.md
  CHANGELOG.md
  package.json
  src/providers/base/reasoningTransport.ts
  src/providers/base/registeredModelId.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/registeredModelId.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/harnessModelId.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/modelUtils.test.ts
Due: providers, utils

📝 Backfill 2.5.13 release notes; promote 2.5.12 → 2.5.13
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

📝 Backfill 2.5.13 release notes; promote 2.5.12 → 2.5.13 (#158)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

fix: preserve independent LiteLLM token limits
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/requestTokenBudget.ts
  src/adapters/test/requestTokenBudget.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/legacyCommitTokenLimits.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/providerOverflowTokenLimits.test.ts
  src/providers/test/registryTokenMetadata.test.ts
  src/providers/test/requestTokenLimits.test.ts
  src/utils/commitDiffBudget.ts
  src/utils/modelCapabilities.ts
  src/utils/test/commitDiffBudget.test.ts
  src/utils/test/modelTokenLimits.test.ts
Due: adapters, providers, commands, config, utils

chore(release): 🚀 promote version 2.5.14
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

fix: preserve independent LiteLLM token limits (#160)
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/requestTokenBudget.ts
  src/adapters/test/requestTokenBudget.test.ts
  src/adapters/test/tokenUtils.test.ts
  src/adapters/tokenUtils.ts
  src/commands/generateCommitMessage.ts
  src/commands/test/generateCommitMessage.test.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/legacyCommitTokenLimits.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/providers/test/providerOverflowTokenLimits.test.ts
  src/providers/test/registryTokenMetadata.test.ts
  src/providers/test/requestTokenLimits.test.ts
  src/utils/commitDiffBudget.ts
  src/utils/modelCapabilities.ts
  src/utils/test/commitDiffBudget.test.ts
  src/utils/test/modelTokenLimits.test.ts
Due: adapters, providers, commands, config, utils
