Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

fix: gate reasoning effort and support reasoning content in streams ✨
  .github/agents/investigative agent.agent.md
  .github/prompts/feature-request.prompt.md
  CHANGELOG.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/config/modelOverrides.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, config, utils, streaming

fix: gate reasoning effort and support reasoning content in streams ✨ (#93)
  .github/agents/investigative agent.agent.md
  .github/prompts/feature-request.prompt.md
  CHANGELOG.md
  package.json
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/config/modelOverrides.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: adapters, providers, config, utils, streaming

WIP: 2747964 fix: gate reasoning effort and support reasoning content in streams ✨ (#93)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  MEMORY-FIX-PLAN.md
  PHASE0-BASELINE-UPDATED.md
  PHASE0-MEMORY-PROFILE.md
  PHASE0-READY.md
  PHASE0-VALIDATION-REPORT.md
  memory-profile-results.json
  package.json
  scripts/run-memory-profile.mjs
  src/test/integration/memoryProfile.test.ts
  src/test/integration/mockLiteLLMBackend.ts
Due: none

perf: 🧼 bound session caches to cut memory growth
  CHANGELOG.md
  memory-profile-results.json
  package.json
  scripts/run-memory-profile.mjs
  src/extension.ts
  src/observability/auditTrail.ts
  src/observability/test/auditTrail.test.ts
  src/providers/index.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/test/integration/memoryProfile.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/utils/lruCache.ts
  src/utils/test/lruCache.test.ts
Due: providers, utils

fix: lazily initialize the structured logger channel 🛠️
  .gitignore
  MEMORY-FIX-PLAN.md
  PHASE0-BASELINE-UPDATED.md
  PHASE0-MEMORY-PROFILE.md
  PHASE0-READY.md
  PHASE0-VALIDATION-REPORT.md
  memory-profile-results.json
  package.json
  src/observability/structuredLogger.ts
  src/observability/test/structuredLogger.test.ts
Due: none

feat: ✨ add structured streaming observability across the LiteLLM pipeline
  package.json
  src/adapters/sse/sseDecoder.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/providers/base/transport.ts
  src/providers/liteLLMChatProvider.ts
Due: adapters, providers, streaming, sse

fix: fail on incomplete SSE streams without a [DONE] marker
  package.json
  src/adapters/sse/sseDecoder.ts
  src/adapters/sse/test/sseDecoder.test.ts
  src/providers/test/chatProvider.test.ts
Due: adapters, providers, sse

docs: 📝 add changelog entry for SSE incomplete-response handling
  CHANGELOG.md
Due: none

chore: reduce tokenizer log verbosity and bump dev version
  package.json
  src/adapters/tokenizers/heuristicTokenizer.ts
Due: adapters

fix: improve chat request failure diagnostics 🐛
  package.json
  src/providers/liteLLMChatProvider.ts
Due: providers

feat: 🖼️ preserve multimodal content in responses adapter
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/types.ts
Due: adapters

fix: 🐛 parse text array content correctly in responses adapter
  src/adapters/responsesAdapter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/test/integration/cancellation.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
Due: adapters

chore: release 2.1.2 🎉
  CHANGELOG.md
  package.json
Due: none

fix: 🐛 stabilize mock LiteLLM streaming responses
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
Due: none

🐛 Bug 93 - Further debugging (#95)
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  CHANGELOG.md
  package.json
  scripts/run-memory-profile.mjs
  src/adapters/responsesAdapter.ts
  src/adapters/sse/sseDecoder.ts
  src/adapters/sse/test/sseDecoder.test.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/vscodePartEmitter.ts
  src/adapters/test/responsesAdapter.test.ts
  src/adapters/tokenizers/heuristicTokenizer.ts
  src/extension.ts
  src/observability/auditTrail.ts
  src/observability/structuredLogger.ts
  src/observability/test/auditTrail.test.ts
  src/observability/test/structuredLogger.test.ts
  src/providers/base/transport.ts
  src/providers/index.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/test/integration/cancellation.test.ts
  src/test/integration/memoryProfile.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/types.ts
  src/utils/lruCache.ts
  src/utils/test/lruCache.test.ts
Due: adapters, providers, utils, streaming, sse

chore: ✨ bump dev version and expand marketplace keywords
  package.json
Due: none

fix: recover buffered tool calls on incomplete streams ⚡
  src/adapters/responsesAdapter.ts
  src/adapters/sse/sseDecoder.ts
  src/adapters/sse/test/sseDecoder.test.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
Due: adapters, providers, streaming, sse

test: add regression coverage for inline-edit image content in responses 🧪
  src/adapters/test/responsesAdapter.test.ts
Due: adapters

chore: update CHANGELOG for v2.1.3 📝
  CHANGELOG.md
Due: none

chore: include package.json v2.1.3 in release commit 📦
  package.json
Due: none

🚀 Release v2.1.3 — Image content fix & stream recovery (#99)
  CHANGELOG.md
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/sse/sseDecoder.ts
  src/adapters/sse/test/sseDecoder.test.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/test/chatProvider.test.ts
Due: adapters, providers, streaming, sse

fix: validate tool result messages for Bedrock compatibility 🛠️
  src/adapters/messageConverter.ts
  src/adapters/test/messageConverter.test.ts
Due: adapters

chore: 🚀 Release v2.1.4 — Bedrock tool result formatting fix (issue #100)
  CHANGELOG.md
  package.json
Due: none

🔧 Fix Bedrock tool result formatting (issue #100) (#101)
  CHANGELOG.md
  package.json
  src/adapters/messageConverter.ts
  src/adapters/test/messageConverter.test.ts
Due: adapters

fix: make forceResponsesEndpoint opt-in by default
  CHANGELOG.md
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/types.ts
Due: config

fix: make forceResponsesEndpoint opt-in by default (#103)
  CHANGELOG.md
  package.json
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/types.ts
Due: config

fix: 🐛 prevent VS Code picker crashes from non-string model categories
  .github/agents/investigative agent.agent.md
  .vscode/mcp.json
  package.json
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, utils

📝 Add changelog entry for v2.1.6 release
  CHANGELOG.md
Due: none

🚀 Release v2.1.6 — VS Code picker crash workaround (#105)
  .github/agents/investigative agent.agent.md
  .vscode/mcp.json
  CHANGELOG.md
  package.json
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, utils

fix: 🐛 harden quota tool redaction against Copilot scaffolding
  CHANGELOG.md
  package.json
  src/providers/base/requestBuilder.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

chore(release): publish 2.1.7 🏷️
  CHANGELOG.md
  package.json
Due: none

🛡️ Harden quota tool redaction against Copilot scaffolding (issue #106) (#107)
  CHANGELOG.md
  package.json
  src/providers/base/requestBuilder.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

💭 Full Anthropic thinking/thinking content coverage (stream interpreter + tests)
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/liteLLMStreamInterpreter.test.ts
  src/adapters/streaming/test/streamTokenCapture.test.ts
Due: adapters, streaming

💭 Add thinking_blocks preservation + reasoning_effort object format
  src/adapters/responsesAdapter.ts
  src/providers/liteLLMProviderBase.ts
  src/types.ts
Due: adapters, providers

chore: 📦 release 2.1.8 and refresh project docs
  CHANGELOG.md
  CONTRIBUTORS.md
  README.marketplace.md
  README.md
  package.json
Due: none

docs: update agent workflow guidance and remove stale v2.1.0 notes
  .github/release-notes/v2.1.0.md
  AGENTS.md
Due: none

chore: ✨ tidy package metadata and agent tool config
  .github/agents/investigative agent.agent.md
  package.json
Due: none

🧹 Remove dead config and document current provider architecture
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/liteLLMStreamInterpreter.ts
  src/adapters/streaming/test/streamTokenCapture.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/commands/test/setLogLevel.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/extension.ts
  src/observability/types.ts
  src/providers/base/requestBuilder.ts
  src/providers/base/test/disableCaching.wiring.test.ts
  src/providers/base/test/transport.fallback.test.ts
  src/providers/base/transport.ts
  src/providers/base/types.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/test/integration/types.test.ts
  src/types.ts
  src/utils.ts
Due: adapters, providers, commands, config, streaming

🚀 Release 2.1.8: Model pricing display & cost tracking
  .gitignore
  AGENTS.md
  CHANGELOG.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/streaming/streamTokenCapture.ts
  src/adapters/streaming/test/streamTokenCapture.test.ts
  src/config/configManager.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMCommitProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/chatProvider.test.ts
  src/providers/test/liteLLMCommitProvider.test.ts
  src/providers/test/liteLLMProviderBase.modelDisplay.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/telemetryService.test.ts
  src/telemetry/types.ts
  src/types.ts
  src/utils/pricingCalculator.ts
  src/utils/telemetry.ts
  src/utils/test/pricingCalculator.test.ts
Due: adapters, providers, config, utils, streaming

feat: ✨ add discovery caching, timeouts, and debounced change notifications
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/litellmClient.ts
  src/config/configManager.ts
  src/providers/base/debouncedEmitter.ts
  src/providers/base/test/debouncedEmitter.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/discoveryCache.test.ts
  src/types.ts
  src/utils/discoveryHash.ts
  src/utils/test/discoveryHash.test.ts
Due: adapters, providers, config, utils

Path conditions:
  adapters: any of: src/adapters/**
  providers: any of: src/providers/**
  commands: any of: src/commands/**
  config: any of: src/config/**
  inline-completions: any of: src/inlineCompletions/**
  utils: any of: src/utils/**
  streaming: any of: src/adapters/streaming/**
  sse: any of: src/adapters/sse/**
