Repository gethnet/litellm-connector-copilot: changes, and which Codecov flags are due for each by the changed paths.
All: adapters, providers, commands, config, inline-completions, utils, streaming, sse

codecov.yml:

comment:
  layout: "reach,diff,flags,files,components"
  behavior: default

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 0%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: adapters
      name: adapters
      paths:
        - src/adapters/**
    - component_id: providers
      name: providers
      paths:
        - src/providers/**
    - component_id: commands
      name: commands
      paths:
        - src/commands/**
    - component_id: config
      name: config
      paths:
        - src/config/**
    - component_id: inline-completions
      name: inline-completions
      paths:
        - src/inlineCompletions/**
    - component_id: utils
      name: utils
      paths:
        - src/utils/**
    - component_id: streaming
      name: streaming
      paths:
        - src/adapters/streaming/**
    - component_id: sse
      name: sse
      paths:
        - src/adapters/sse/**

chore: release 2.1.8 ✨
  CHANGELOG.md
  package.json
Due: none

fix: make model change notifications fire immediately
  src/providers/base/debouncedEmitter.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

🛠️ Restore "LiteLLM: Reset All Configuration" command
  package.json
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/config/configManager.ts
  src/extension.ts
Due: commands, config

test: tighten config and discovery cache coverage 🧪
  src/commands/test/manageConfig.test.ts
  src/providers/test/discoveryCache.test.ts
Due: providers, commands

fix: 🛠️ make `tool_choice` capability-aware
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: providers, utils

test: make MockLiteLLM tool-call tests deterministic 🧪
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
Due: none

fix: 🛠️ make `tool_choice` capability-aware (#115)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/test/integration/mockLiteLLMBackend.test.ts
  src/test/integration/mockLiteLLMBackend.ts
  src/utils.ts
  src/utils/test/utils.test.ts
Due: providers, utils

fix: expand reasoning effort levels and correct fallback behavior
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/modelCapabilities.test.ts
Due: config, utils

feat: pass `reasoning_effort` "none" explicitly instead of suppressing it
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

🐛 Strip unsupported `cache` parameter from Azure model requests Fixes #117
  .user_home/prompts/audit-prompts.prompt.md
  package.json
  src/adapters/test/client.test.ts
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/reasoningEffortFallback.test.ts
Due: adapters, providers, config, utils

chore: 🧹 update dev dependencies and format package.json
  package.json
Due: none

feat: make LiteLLM cache bypass model-aware ✨
  .github/dependabot.yml
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/config/configManager.ts
  src/config/test/config.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
Due: adapters, providers, config

fix: make cache bypass opt-in and improve request compatibility
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🛠️ Fix cache compatibility and expand reasoning efforts (#118)
  .github/dependabot.yml
  .user_home/prompts/audit-prompts.prompt.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/adapters/litellmClient.ts
  src/adapters/responsesAdapter.ts
  src/adapters/test/client.test.ts
  src/adapters/test/responsesAdapter.test.ts
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/config/test/config.test.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/requestBuilder.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/liteLLMProviderBase.requestBuilder.test.ts
  src/providers/test/liteLLMProviderBase.test.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/reasoningEffortFallback.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
  src/utils/test/reasoningEffortFallback.test.ts
Due: adapters, providers, config, utils

fix: refine reasoning-effort fallback for LiteLLM models
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: config, utils

fix: tighten reasoning capability detection and make model overrides opt-in
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/types.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, config, utils

🚀 Release v2.2.1 reasoning fixes
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
Due: none

🚀 Release v2.2.1 reasoning fixes (#119)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/configManager.ts
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/providers/liteLLMProviderRegistry.ts
  src/types.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: providers, config, utils

🛠️ Fix per-effort reasoning metadata
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: config, utils

🛠️ Fix per-effort reasoning metadata (#120)
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/utils/modelCapabilities.ts
  src/utils/test/modelCapabilities.reasoning-overhaul.test.ts
  src/utils/test/modelCapabilities.test.ts
Due: config, utils

docs: add plan metadata schema and lifecycle guidance ✨
  .github/agents/Project Planner.agent.md
  .github/instructions/plan-generation.instructions.md
  .github/instructions/plan-metadata.instructions.md
  .github/prompts/implement-plan.prompt.md
  .github/prompts/project-planner.prompt.md
  .github/prompts/update-plan-metadata.prompt.md
  .github/schemas/plan-metadata.md
  .github/schemas/plan-metadata.schema.json
  .github/skills/plan-metadata-management/SKILL.md
  .gitignore
  package.json
Due: none

chore: add weekly VS Code compatibility review prompt
  .github/prompts/weekly-vscode-compatibility-review.prompt.md
  AGENTS.md
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers

Updating extension version to 2.2.3
  package.json
Due: none

🧪 Isolate memory profiler from CI tests
  .vscode-test.mjs
Due: none

feat: 💬 add idle review prompt and dev reset command
  AGENTS.md
  CHANGELOG.md
  package.json
  src/commands/devTools.ts
  src/commands/test/devTools.test.ts
  src/engagement/reviewPromptService.ts
  src/engagement/test/reviewPromptService.test.ts
  src/extension.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/posthogAdapter.test.ts
  src/telemetry/test/telemetryService.test.ts
  src/test/integration/extension.test.ts
Due: providers, commands

feat: add session-scoped prompt suppression and split provider helpers
  AGENTS.md
  src/engagement/reviewPromptService.ts
  src/engagement/test/reviewPromptService.test.ts
  src/providers/base/callConfig.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/quotaRedaction.ts
  src/providers/liteLLMProviderBase.ts
Due: providers

feat: add idle-time review prompt with session-scoped deferral ✨
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/engagement/reviewPromptService.ts
  src/engagement/test/reviewPromptService.test.ts
Due: none

🚀 Release v2.2.3 — Idle review prompt, session-scoped deferral & provider refactor (#121)
  .vscode-test.mjs
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/commands/devTools.ts
  src/commands/test/devTools.test.ts
  src/engagement/reviewPromptService.ts
  src/engagement/test/reviewPromptService.test.ts
  src/extension.ts
  src/providers/base/callConfig.ts
  src/providers/base/parameterFiltering.ts
  src/providers/base/quotaRedaction.ts
  src/providers/liteLLMChatProvider.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/test/chatProvider.test.ts
  src/telemetry/telemetryService.ts
  src/telemetry/test/posthogAdapter.test.ts
  src/telemetry/test/telemetryService.test.ts
  src/test/integration/extension.test.ts
Due: providers, commands

feat: ✨ add stale PR cleanup and BYOK release guidance
  .github/PULL_REQUEST_TEMPLATE/common_pr.yml
  .github/hooks/block-bump-on-main.json
  .github/prompts/finish-dev-version.prompt.md
  .github/prompts/start-next-dev-version.prompt.md
  .github/workflows/stale.yml
  .vscode/settings.json
  AGENTS.md
  README.marketplace.md
  README.md
  package.json
  scripts/block-bump-on-main.sh
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/providers/base/callConfig.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers, commands

🚀 Release v2.3.0 — restore readable model picker
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/providers/liteLLMProviderRegistry.ts
Due: providers, commands

🚀 Release v2.3.0 — restore readable model picker (#122)
  .github/PULL_REQUEST_TEMPLATE/common_pr.yml
  .github/hooks/block-bump-on-main.json
  .github/prompts/finish-dev-version.prompt.md
  .github/prompts/start-next-dev-version.prompt.md
  .github/workflows/stale.yml
  .vscode/settings.json
  AGENTS.md
  CHANGELOG.md
  README.marketplace.md
  README.md
  package.json
  scripts/block-bump-on-main.sh
  src/commands/manageConfig.ts
  src/commands/test/manageConfig.test.ts
  src/providers/base/callConfig.ts
  src/providers/liteLLMProviderBase.ts
  src/providers/liteLLMProviderRegistry.ts
  src/providers/test/liteLLMProviderBase.test.ts
Due: providers, commands

Expand modelOverrides for mode and tokens
  README.md
  package.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/types.ts
Due: config

Apply supportedOpenaiParams overrides
  README.md
  package.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/parameterFiltering.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
Due: providers, config

✨ Add All Contributors recognition
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
  package.json
Due: none

Preserve empty supportedOpenaiParams lists
  README.md
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/types.ts
Due: config

✨ Add All Contributors recognition (#125)
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
  package.json
Due: none

🧩 Expand modelOverrides for mode, tokens, and params (#124)
  README.md
  package.json
  src/config/modelOverrides.ts
  src/config/test/modelOverrides.test.ts
  src/providers/base/parameterFiltering.ts
  src/providers/test/parameterValidation.test.ts
  src/types.ts
Due: providers, config

:busts_in_silhouette: Add @FPA-DavidTai as a contributor
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Due: none

🚀 Release v2.4.0 — Expand modelOverrides for additional metadata and add All Contributors recognition
  CHANGELOG.md
  package.json
Due: none
